.decoration-color {
  margin: 0 4px;
  &::before {
    content: '';
    width: 0.8em;
    height: 0.8em;
    border-radius: 0.2em;
    display: inline-block;
    background-color: var(--color);
  }
}
